<!--Footer-->
     <footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

         <!--Footer Links-->
         <div class="container text-center text-md-left">

             <!-- Footer links -->
             <div class="row text-center text-md-left mt-3 pb-3">

                 <!--First column-->
                 <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                     <h6 class="text-uppercase mb-4 font-weight-bold">ENERGIA SOLAR</h6>
                     <p>Una solucion alternativa e independiente a las redes de energia estatales. Encontra el plan que se ajusta a tus exigencias.</p>
                 </div>
                 <!--/.First column-->

                 <hr class="w-100 clearfix d-md-none">

                 <!--Second column
                 <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                     <h6 class="text-uppercase mb-4 font-weight-bold">Kits Actuales</h6>
                     <p><a href="#!">Kit small 2 Kwh/diarios.</a></p>
                     <p><a href="#!">Kit Medium 3 Kwh/diarios.</a></p>
                     <p><a href="#!">Kit small 4 Kwh/diarios.</a></p>
                     <p><a href="#!">Kit small 5 Kwh/diarios.</a></p>
                 </div>-->
                 <!--/.Second column-->

                 <hr class="w-100 clearfix d-md-none">

                 <!--Third column-->
                 <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                     <h6 class="text-uppercase mb-4 font-weight-bold">Nuestro Staff</h6>
                     <p><a href="#!">Ale Bether</a></p>
                     <p><a href="#!">Martin Valdez</a></p>
                     <p><a href="#!">Dani Sanchez</a></p>
                 </div>

                 <!--Fourth column-->
                 <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                     <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                     <p><i class="fa fa-home mr-3"></i> Argentina, Buenos Aires, CABA</p>
                     <p><i class="fa fa-envelope mr-3"></i> contacto@energiasolar.com</p>
                     <p><i class="fa fa-phone mr-3"></i>+ 54 11 666 666 7</p>
                     <p><i class="fa fa-print mr-3"></i>+ 54 11 666 666 8</p>
                 </div>
                 <!--/.Fourth column-->

             </div>
             <!-- Footer links -->

             <hr>

             <div class="row py-3 d-flex align-items-center">

                 <!--Grid column-->
                 <div class="col-md-8 col-lg-8">

                     <!--Copyright-->
                     <p class="text-center text-md-left grey-text">© 2018 Copyright: <a href="https://mdbootstrap.com/material-design-for-bootstrap/"><strong> energiasolar.com</strong></a></p>
                     <!--/.Copyright-->

                 </div>
                 <!--Grid column-->

                 <!--Grid column-->
                 <div class="col-md-4 col-lg-4 ml-lg-0">

                     <!--Social buttons-->
                     <div class="text-center text-md-right">
                         <ul class="list-unstyled list-inline">
                             <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
                             <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
                         </ul>
                     </div>
                     <!--/.Social buttons-->

                 </div>
                 <!--Grid column-->

             </div>

         </div>

     </footer>
     <!--/.Footer-->
