.boxClass {
    border-radius: 20px;
    background: #ffbb33;
    padding: 10px;
    margin: 5px;
}
.titleClass {
  border-radius: 30px;
  width: 30px;
  height: 30px;

  background: #3a79bc;
  color: white;
  padding-left: 9px;
  padding-top: 3px;
}
