<section class="py-5">
  <h1 class="font-weight-bold text-center h1 py-5">¿Como Funciona?</h1>

  <div class="container">

    <div class="row">
      <div class="col-md-9">
        <img src="assets/howto.png" width="100%">
      </div>
      <div class="col-md-3">
        <div class="row boxClass">
          <h5 class="titleClass"><b>1</b></h5><h5 style="color:#ffbb33">---</h5><h5><b><i>Panel</i></b></h5>
          <p>Convierte la energia solar en corriente continua.</p>
        </div>
        <div class="row boxClass">
          <h5 class="titleClass"><b>2</b></h5><h5 style="color:#ffbb33">---</h5><h5><b><i>Controlador</i></b></h5>
          <p>Regula y distribuye la corriente a las baterias.</p>
        </div>
        <div class="row boxClass">
          <h5 class="titleClass"><b>3</b></h5><h5 style="color:#ffbb33">---</h5><h5><b><i>Baterias</i></b></h5>
          <p>Almacenan la energia.</p>
        </div>
        <div class="row boxClass">
          <h5 class="titleClass"><b>4</b></h5><h5 style="color:#ffbb33">---</h5><h5><b><i>Inversor</i></b></h5>
          <p>Convierte la corriente continua en corriente alterna.</p>
        </div>

      </div>

    </div>
  </div>

  </section>
