<section class="text-center pb-3 my-5">
  <br>
  <br>
  <h1 class="font-weight-bold text-center h1 py-5">¿Cuantos Kwh/diarios necesitas?</h1>

  <div class="container">


    <div class="row">
        <div class="col-md-8">
            <h3>Selecciona tus electrodomesticos</h3>
            <div class="row">
                <div class="col-md-4"> <img src="assets/light.png" alt="" style="margin:10px;width:100px"> </div>
                <div class="col-md-4"> <img src="assets/heladera.png" alt="" style="margin:10px;width:100px"></div>
                <div class="col-md-4"> <img src="assets/air.png" alt="" style="margin:10px;width:100px"></div>
                <div class="col-md-4"> <img src="assets/tv.png" alt="" style="margin:10px;width:100px"> </div>
                <div class="col-md-4"><img src="assets/pc.png" alt="" style="margin:10px;width:100px"></div>
                <div class="col-md-4"><img src="assets/electrobig.png" alt="" style="margin:10px;width:100px"></div>
                <div class="col-md-4"><img src="assets/electro.png" alt="" style="margin:10px;width:100px"></div>
            </div>
        </div>
        <div class="col-md-4">
          <div class=" text-center">
            <h3>RESULTADO</h3>
          </div>
          <br>
          <div class=" text-center">
            <h1><b>1.6Kwh/diarios</b></h1>
          </div>
          <div class="text-center">
            <img src="assets/kit1.jpg" class="img-fluid" alt="sample photo">
            <a href="" class="text-muted">
              <h5>Kit Monoambiente</h5>
            </a>
            <label>*Kit Recomendado segun el consumo energetico seleccionado.</label>
          </div>
        </div>
    </div>

  </div>
</section>
