<section class="text-center pb-3 my-5">
  <br>
  <br>
  <h1 class="font-weight-bold text-center h1 py-5">¿Cuantos Kwh/diarios necesitas?</h1>

  <div class="container">


    <div class="row">
        <div class="col-md-8">
            <div class="row">

              <!--Table-->
              <div class="mat-elevation-z8 tableContainer">
                <div class="header">
                  <mat-form-field class="headerLabel">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Electrodomestico/Dispositivo">
                  </mat-form-field>
                </div>
                <mat-paginator #paginator
                             [pageSize]="5"
                             [pageSizeOptions]="[5]"
                             [showFirstLastButtons]="true">
              </mat-paginator>
                <mat-table #table [dataSource]="dataSource">

                  <!-- Position Column -->
                  <ng-container matColumnDef="icon">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element"><img [src]="element.icon" alt="" style="width:25px"></mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="watts">
                    <mat-header-cell *matHeaderCellDef> Consumo Promedio (en Watts)</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.watts}} Watts</mat-cell>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="count">
                    <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-form-field class="headerLabel">
                        <input matInput (keyup)="calculate()" [(ngModel)]="element.count" class="labelCenter">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>

                </div>
              <!-- END Table -->

            </div>
        </div>
        <div class="col-md-4">


          <div class=" text-center">
            <h4>RESULTADO</h4>
          </div>
          <div class=" text-center">
            <h3><b>{{totalWatts}} Kwh</b></h3>
          </div>

          <mat-tab-group fxFlex [(selectedIndex)]="selectedIndex" #tabGroup mat-stretch-tabs>
            <mat-tab *ngFor="let pack of packs;" [label]="pack.label" class="tabContainer" [disabled]="true">
              <div class="text-center">
                <mat-card> <img [src]="pack.img" class="img-fluid"> </mat-card>
                <div class="text-muted">
                  <h5>{{pack.label}}</h5>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
<label>*Kit Recomendado segun el consumo energetico seleccionado.</label>



        </div>
    </div>

  </div>
</section>
