<!--Section: Contact v.3-->
<section class="py-5">
  <br>
  <br>
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12">

            <!--Form with header-->
            <div class="card" style="background-color:#fff9c4">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body form">
                            <!--Header-->
                            <div class="formHeader mb-1 pt-3">
                                <h3>
                                    <i class="fa fa-envelope"></i> Enviar sugerencias y consultas:</h3>
                            </div>

                            <br>

                            <form>
                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                      <mat-form-field class="headerLabel" style="width:100%;">
                                        <input matInput placeholder="Nombre">
                                      </mat-form-field>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                      <mat-form-field class="headerLabel" style="width:100%;">
                                        <input matInput placeholder="Correo Electronico">
                                      </mat-form-field>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                      <mat-form-field class="headerLabel" style="width:100%;">
                                        <input matInput placeholder="Telefono/Mobil">
                                      </mat-form-field>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                      <mat-form-field class="headerLabel" style="width:100%;">
                                        <input matInput placeholder="Empresa">
                                      </mat-form-field>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">


                                        <mat-form-field class="headerLabel" style="width:100%;">
                                          <textarea matInput placeholder="Mensaje"></textarea>
                                        </mat-form-field>


                                        <div style="text-align:right;align:right">
                                          <a class="btn-floating btn-lg" style="background:#ff6d00;color:white">
                                              <i class="fa fa-send-o"></i> Enviar
                                          </a>
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->
                            </form>

                        </div>
                    </div>

                    <div class="col-lg-4" style="background:#ff6d00;color:white">
                        <div class="card-body contact text-center">
                                <div class="mb-5">
                                    <h3>Nuestros Datos de Contacto</h3>
                                </div>

                                <ul class="contact-icons list-unstyled ml-4">
                                    <li><br><br>

                                    </li>

                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <p>+ 54 11 666 666 7</p>
                                    </li>

                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <p>contacto@energiasolar.com</p>
                                    </li>
                                </ul>

                                <hr class="hr-light mb-4 mt-4">

                                <ul class="list-inline text-center list-unstyled">
                                    <li class="list-inline-item">
                                        <a class="icons-sm tw-ic">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="icons-sm li-ic">
                                            <i class="fa fa-facebook"> </i>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Form with header-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Contact v.3-->
