<!--Section: Products v.2-->
<section class="text-center pb-3 my-5">
  <br>
  <br>
  <!--Section heading-->
  <h1 class="font-weight-bold text-center h1 py-5">Encontra el Plan que se Ajusta a tus Exigencias</h1>
  <!--Section description-->
  <p class="grey-text pb-5">Una solucion alternativa e independiente a las redes de energia estatales. Encontra el plan que se ajusta a tus exigencias.</p>

  <!--Carousel Wrapper-->
  <div class="row">
          <div *ngFor="let pack of packs" class="col-md-4">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card image-->
            <div class="view overlay">
              <img [src]="pack.img" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <div class="text-muted">
                <h5>{{pack.label}}</h5>
              </div>
              <h4 class="card-title">
                <strong>
                    <a href="">{{pack.count}} Kwh/diarios</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text">{{pack.description}}</p>
              <!--Card footer-->
              <div class="card-footer" style="background-color:lightgray;height:45px;">
                <span class="float-left font-weight-bold">
                    <strong>{{pack.price}}</strong>
                </span>
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="Leer Detalles">
                      <i class="fa fa-eye grey-text ml-3"></i>
                  </a>
                </span>
              </div>
            </div>
            <!--Card content-->
          </div>
          </div>
          <!--Card-->

      </div>
  <!--/.Carousel Wrapper-->


</section>
<!--Section: Products v.2-->
