<!--Main Navigation-->
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark warning-color scrolling-navbar">
        <a class="navbar-brand" href="#"> <img src="assets\logo.png" alt="">  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [ngx-scroll-to]="'#energia'"><b>CALCULA TU ENERGIA</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngx-scroll-to]="'#howto'"><b>COMO FUNCIONA</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngx-scroll-to]="'#kits'"><b>LISTA DE KITS</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngx-scroll-to]="'#ubicacion'"><b>UBICACION</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngx-scroll-to]="'#contacto'"><b>CONTACTO</b></a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<!--Main Navigation-->


<app-showcase>
</app-showcase>

<div class="container">

  <app-calculator id="energia">
  </app-calculator>

  <app-howto id="howto">
  </app-howto>

  <app-kits id="kits">
  </app-kits>

  <app-map id="ubicacion">
  </app-map>

  <app-contact id="contacto">
  </app-contact>

</div>


<app-footer>
</app-footer>
